[Unit]
Description=Webservice daemon for mcr tools
After=syslog.target

[Service]
Type=simple
Restart=always
SyslogIdentifier=flaskstartup
ExecStart=/usr/bin/env python /usr/local/bin/flask_startup.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target