<h1>Overview</h1>

ShareAL provides a flexible platform for interacting with streaming data from IoT sensors and smart meters. Its intended area of
application is in the realm of Non-intrusive load monitoring (NILM) in the energy sector. However, it can be used in any domain
to do the following:

<ul>
    <li>Characterize energy consumption via scoring of analytic products</li>
    <li>Ask interesting questions of streaming data using data visualization tools and custom analytics</li>
    <li>Run analytics in local HPC environment with minimal configuration</li>
</ul>

<h2>Getting Started</h2>

<ul>
    <li><a ui-sref="datasets.create">Create Dataset</a></li>
    <li><a ui-sref="analytics.create">Create Analytic</a></li>
    <li><a ui-sref="locations.create">Create Location Type</a></li>
    <li><a ui-sref="dashboards.create">Create Dashboard</a></li>
    <li><a ui-sref="analyze">Run Analysis Against Dashboard</a></li>    
</ul>

<h2>Interactive Analytics</h2>

<ul>
    <li>Store Sensor and IoT Data in InfluxDB</li>
    <li><a href="http://localhost:3100" target="_blank">Live Analytics with Grafana</a></li>
</ul>
